rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /wounds/{document} {
      allow read, write: if true;
    }
    
    match /patients/{document} {
      allow read, write: if true;
    }
  }
}